* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.cabecera {
  background-image: url("/assets/img/cabecera2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 7%;
  color: #f7cac9;
  font-family: sacramento;
  font-size: 4rem;
  text-align: center;
  margin-top: 40px; 
}
.navbar {
  background-color:#f7cac9;
  width: 100%;
  height: 7%;
  
}
.example-spacer {
  flex: 1 1 auto;
  
}

.titulo{
  color: #fff;
  font-family: sacramento;
  font-size: 2rem;
  margin-left: 30px;
  font-weight: 500;
}
.navbar a {
 text-decoration: none;
 color: #fff;
 font-family: sacramento;
 font-size: 1.5rem;
 font-weight: 500;
 margin-right: 20px;

}

.navbar a:hover {
  color: #333333;
}

.navegacion button {
  margin-right: 20px;
}
.navegacion button {
  color: #333333;
  background: none;
  
}

@media(min-width: 375px ){
  .cabecera{
    font-size: 3rem;
  }
  .titulo{
    font-size: 1.3rem;
    margin-left: 5px;
  }
  .navbar a{
    
    font-size: 1rem;
    margin-right: 5px;
    
  }
  .navegacion button {
    margin: 5px;
    text-align: center;
    font-size: 0.6rem;
  }
}
@media(min-width: 768px ){
  .cabecera{
    font-size: 4rem;
  }
  .titulo{
    font-size: 2rem;
    margin-left: 15px;
  }
  .navbar a{
    
    font-size: 1.5rem;
    margin-right: 15px;
    
  }
  .navegacion button {
    margin: 15px;
    text-align: center;
    font-size: 1rem;
  }
}

 @media(min-width: 1024px ){
  .cabecera{
    font-size: 5rem;
  }
  .titulo{
    font-size: 3rem;
    margin-left: 15px;
  }
  .navbar a{
    
    font-size: 2rem;
    margin-right: 15px;
    
  }
  .navegacion button {
    margin: 15px;
    text-align: center;
    font-size: 1.2rem;
  }
} 