<div class="cabecera">
  <span>Mi Foro Moda</span>
</div>
<div class="navbar"> 
  <span class="titulo">Moda Scarleth</span>
    
  <div class="navegacion">
    <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
    <a [routerLink]="['foro']" routerLinkActive="active">Foro</a>
        <button mat-raised-button style="background-color: #fff; font-family: Poiret One; font-weight: 500; color: #1a1a1a;" (click)="openDialog()">Iniciar sesion</button>
        <button mat-raised-button style="background-color: #fff; font-family: Poiret One; font-weight: 500; color: #1a1a1a;" (click)="openDialog2()">Registrate</button>   
  </div>

</div>

