h2 {
  font-family: sacramento;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f7cac9;
  margin: 15px;
}
.centrar {
  text-align: center;
}
.body img {
  width: 7%;
  margin: 10px;
  text-align: center;

}


.ancho {
  width: 30%;
  text-align: center;
  
}

.boton {
  height: 50px;
  width: 30%;
  margin: 15px;
  font-family: Poiret One;
  font-size: 1.2rem;
}

.derecha{
  float: right;
}
.izquierda{
  width: 45%;
  float: left;
  
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  width: 380px;
  object-fit: cover;
  border-radius: 6px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 55%;
  
}

.ancho {
  width: 60%;
}
a{
  font-family: sacramento;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
span{
  font-family: sacramento;
  color:#f7cac9;
  font-size: 1rem;
  font-weight: 700;
  font-family: Poiret One;
}