<section class="sobre-mi" id="sobre-mi">
  <div class="contenido-sobremi">

    <div class="columna izquierda">
      <img src="/assets/img/login1.jpg" alt="">
    </div>

    <div class="columna derecha">
      <div class="centrar">
        <h2 class="mb-3">Registrate</h2>
        <hr>
        <div class="body">
          <img src="/assets/img/user.png" alt="imagen de usuario"> 
        </div>
        <form [formGroup]="forma" (ngSubmit)="guardar()">
        <mat-form-field class="ancho" appearance="fill">
          <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Nombre</mat-label>
            <input matInput
            type="text"
            id="fname"
            class="txtbox"
            formControlName="nombre"
            [class.is-invalid]= "nombreNoValido">
            <small class="text-danger" *ngIf="nombreNoValido">
              Ingrese mas de 3 letras
            </small>
      </mat-form-field>
      


      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Apellido</mat-label>
          <input matInput
          type="text"
          id="flastName"
          class="txtbox"
          formControlName="apellido"
          [class.is-invalid]= "apellidoNoValido">
          <small class="text-danger" *ngIf="apellidoNoValido">
            Ingrese mas de 3 letras
          </small>
      </mat-form-field>
    

      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Email</mat-label>
            <input matInput
            type="text"
            id="femail"
            class="txtbox"
            formControlName="correo"
            [class.is-invalid]= "correoNoValido">
            <small class="text-danger" *ngIf="correoNoValido">
              Ingrese un email valido
            </small>
      </mat-form-field>
      
    
      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Contraseña</mat-label>
          <input matInput
          type="text"
          id="fpassword1"
          class="txtbox"
          formControlName="pass1"
          [class.is-invalid]= "pass1Novalido">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">usuario</mat-label>
          <input matInput
          type="text"
          id="fusuario"
          placeholder="Nombre de usuario"
          class="txtbox"
          formControlName="usuario"
         [class.is-invalid]= "usuarioNoValido">
         <small class="text-danger" *ngIf= "usuarioNoValido">
          Ingrese un nombre de usuario
        </small>
        <small class="text-danger" *ngIf= "usuarioIgualJerjes">
          El nombre de usuario ya esta en uso
        </small>
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Repetir Contraseña</mat-label>
          <input matInput
          type="text"
          id="fpassword2"
          class="txtbox"
          formControlName="pass2"
          [class.is-invalid]= "pass2Novalido">
      </mat-form-field>

        <button class="ancho boton" mat-raised-button style="background-color:#333333; color: #f7cac9;" [disabled]="forma.invalid" type="submit">Crear Cuenta</button>
        <br>
        <a routerLink="login" style="text-decoration: none;">¿Ya tiene una cuenta? <span>Entrar</span></a>
      </form>
      </div>
    </div>
  </div>
</section>























<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/bolivia2.jpg" alt="">
    </div>
    <div class="col-md-4 mt-6">
      <h3 class="text-success text-center">Bienvenido</h3>

      <form action="" class="mt-4">
        <h5 class="text-primary mb-3">Registarte</h5>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="@egmail.com" name="nombre" [(ngModel)]="nombre">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="@egmail.com" name="usuario" [(ngModel)]="usuario" >
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contrasena"[(ngModel)]="contrasena">
            <label for="floatingPassword">Password</label>
        </div>
         
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-success me-md-2" (click)="Registrate()">Registrate</button>
          </div>
          <a routerLink="signup" class="text-primary" style="text-decoration: none;">¿Necesitas Registrarte? </a>
        
        </form>
      
      
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
 -->
