/*footer*/
.container .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 100px;
  padding-bottom: 20px;
  font-family: 'sacramento';
  
}

.container .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #f7cac9;
  transform: translateX(-50%);
}

.text-uppercase h5{
  font-size: 0.8rem;
  font-weight: 500; 
  font-family: 'Poiret One';
}

.footer-one h5{
  font-size: 0.8rem;
  font-weight: 600; 
  font-family: Poiret One;
  color: #1a1a1a;
}

.footer-one h5 svg {
  color: #f7cac9;
  
}
.footer-one p{
  font-size: 1rem;
  font-family: Poiret One;
  color: #1a1a1a;
}


.footer-one a svg  {
  background-color: #f7cac9;
  color:  #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.footer-one a svg:hover{
  background-color: #333333;
  border: 2px solid #333333;
}


.pie {
  background-color: #333333;
  width: 100%;
  height: auto;
  
}



h3{
  padding-top: 20px;
 text-align: center;
  color: #f7cac9;
  font-size: 2rem;
  font-family: 'sacramento';
}


.fe{
 
  text-align: center;
  color: #f7cac9;
  font-family: Poiret One;
  font-size: 0.8rem;
  padding-bottom: 10px;

}

@media(min-width: 375px ){
  .footer-one a svg {
    width: 30px;
    height: 30px;
    
  
  }
  .text-uppercase h5{
    font-size: 0.6rem;
    display: block;
  }
}