<section class="sobre-mi" id="sobre-mi">
  <div class="contenido-sobremi">

    <div class="columna izquierda">
      <img src="/assets/img/iniciar1.jpg" alt="">
    </div>

    <div class="columna derecha">
      <div class="centrar">
        <h2 class="mb-3">Iniciar Sesion</h2>
        <hr>
        <div class="container">
        <div class="body">
          <img src="/assets/img/user.png" alt="imagen de usuario"> 
        </div>

      <mat-form-field class="ancho" appearance="fill">
          <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Nombre</mat-label>
            <input matInput
            type="text"
            id="fname"
            class="txtbox">
      </mat-form-field>


      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Apellido</mat-label>
          <input matInput
          type="text"
          id="flastName"
          class="txtbox">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Email</mat-label>
            <input matInput
            type="text"
            id="femail"
            class="txtbox">
      </mat-form-field>
    
      <mat-form-field class="ancho" appearance="fill">
        <mat-label style="font-family: Poiret One; color: #1a1a1a; font-size: 1rem;">Contraseña</mat-label>
          <input matInput>
      </mat-form-field>
        <br>

        <button class="ancho boton" mat-raised-button style="background-color:#333333; color: #f7cac9;">Entrar</button>
        <br>
        <a routerLink="signup" style="text-decoration: none;">¿No tiene una cuenta? <span>Crear Cuenta</span></a>
      </div>
    </div>
  </div>
  </div>
</section>



<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-3">

      <form action="" class="mt-4">
        
        <h3 class="text-success text-center">Introduce tu usuario</h3>
          
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="@egmail.com" name="usuario" [(ngModel)]="usuario">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contraseña" [(ngModel)]="contrasena">
              <label for="floatingPassword">Password</label>
            </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="rol">
            <option *ngFor="let r of roles" [value]="r">{{r}}</option>
            
          </select>
          <label for="floatingSelect">Role</label>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="ancho boton" mat-raised-button style="background-color:#333333; color: #f7cac9;" (click)="login()">Crear Cuenta</button>
          </div>
          <a routerLink="signup" class="text-primary" style="text-decoration: none;">¿Ya tiene una cuenta? <span>Entrar</span></a>
        
        </form>
    </div>
  </div>
</div>  -->